.App {
  text-align: center;
  /* background-color: black; */
  background-image: url("./background\(2\).png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-bottom: 5px;
  font-family: 'Lora', serif;
}

.App-content {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  background-color: black;
  height: 100vh;
}

.row {
  width: 100%;
}

.col {
  display: inline-flexbox;
}

.right {
  margin-top: 8%;
  margin-left: 15%;
  text-align: left;
  /* color: #d57c8c; */
  color: rgb(252, 228, 212);
  float: right; 
  width: 49%;
  vertical-align: top;
}

.left {
  float: left;
  width: 30%;
  height: 30%;
  padding-left: 4%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.nav {
  width: 100%;
  /* background-color: #d57c8c; */
  background-color: rgb(252, 228, 212);
  height: 40px;
  /* height: 100px;  */
}

.scroller {
  color: rgb(252, 228, 212);
  background-color: black;
}

.projects {
  margin: 0 calc(40vmin);
  justify-content: center;
  color: rgb(54, 31, 31);
  /* background-color: black; */
  /* background-image: url("./background\(2\).png");
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.contact {
  justify-content: center;
  color: rgb(54, 31, 31);
  height: 75vh
}

@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,100&family=Lora&display=swap")